@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Prata&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body, html{
    width: 100%;
    background-color: #0A0A0B;
    color: #fff;
    font-family: 'Inter', sans-serif;
    color: #ADADAD
}

body h1, h2, h3{
    font-family: 'Prata', serif;
    color: #fff;
    font-weight: 200;
    
}

body h1, h2{
    font-size: 2.2rem;
}

body p{
    line-height: 1.7rem;
    margin: 10px 0;
    font-size: 1.2rem;
}

section{
    padding: 70px 20px;
}
#topo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px 20px;
    
}

#topo > h3{
    font-weight: lighter;
}

#itens{
    display: none;
}

#itens > a{
    display: block;
    background-color: #222222;
    padding: 3px;
    border: 0.5px solid rgb(201, 201, 201);
    text-align: center;
    color: #fff;
}

button{
    padding: 15px 30px;
    background-color: #FBE850;
    border: 0px;
    font-family: 'Prata', serif;
    font-size: 1.1rem;
}

#logos{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 120px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: auto;
}

#articles{
    display: flex;
    flex-wrap: wrap;

    
}

#articles div{
    margin-top: 50px;
}

#articles h2{
    margin-top: 20px;
}

#articles p{
    margin-top: 10px;
}

#articles img{
    width: 100%;
}

#about{
    background-color: #2E3038;
}

#about p{
    margin-top: 20px;
}

#about div + div{
    margin-top: 60px;
}

footer{
    display: flex;
    background-color: #2E3038;
    justify-content: space-around;
    padding: 20px 0;
}

footer img{
    margin-left: 10px;
}