@charset "UTF-8";

@media screen and (min-width: 600px){
    body h1{
        font-size: 3.3rem;

    }

    section{
        padding: 70px 50px;
    }

    header{
        padding: 50px;
    }

    #logos{
        width: 500px;
        height: 80px;
        column-gap: 50px;
    }

    #articles div{
        margin-top: 0px;
    }

    #articles img{
        height: 55%;
    }

    footer{
        justify-content: space-between;
        padding: 20px 50px;
    }
}

@media  screen and (min-width: 992px){
    body{
        
        margin: auto;
    }
   
    section{
        padding: 70px 10%;
    }

    #burguer{
        display: none;
    }

    header {
        padding: 50px 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #itens{
        display: block;
    }

    #intouch{
        display: block;
    }

    #itens a{
        display: inline;
        background-color: transparent;
        border: 0;
        padding: 8px;
    }

    
    #topo{
    
        display: block;
        width: auto;
    }

    #init{
        max-width: 1100px;
    }
    
    #logos{
        width: 100%;
        padding: 0 10%;
        justify-content: space-between;
    }

    #articles, #about {
        column-gap: 6%;
    }

    #articles div{
        width: 47%;
        margin-top: 0px;
        /* margin-right: 5%; */
        /* justify-content: space-between; */

    }

    #articles div{
        width: 47%;
        margin-top: 0px;
    }

    #about{
        display: flex;
    }

    #about h2 + p +p{
        margin-bottom: 0px;
    }

    #contact{
        width: 55%;
    }

    footer{
        justify-content: space-between;
        padding: 20px 10%;
    }
}